apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
      - name: client
        image: 904569689818.dkr.ecr.sa-east-1.amazonaws.com/eks_demo-client:v2
        ports:
        - containerPort: 5000
        env:
        - name: SERVER_URL
          value: "server-service:50051"
